.cards {
  position: relative;
  margin-top: 100vh;
  z-index: 2;
  padding: clamp(3.75rem, calc(2.052rem + 8.49vw), 9.375rem) 0;
  background: #fffbde;

  h1 {
    span {
      font-weight: 700;
      font-size: clamp(1.75rem, calc(1.335rem + 2.08vw), 3.125rem);
      line-height: 110%;
      text-transform: uppercase;
      &:nth-child(1) {
        color: #df231d;
      }
      &:nth-child(2) {
        margin-left: 10px;
        color: #fbd927;
      }
    }
  }

  &__food {
    max-width: 1440px;
    width: 100%;
    overflow: visible;
    margin-top: 160px;
    padding: 0 30px 0 10px;
    z-index: 10;

    @media(max-width: 950px) {
      max-width: 1100px;
    }

    @media(max-width: 750px) {
      max-width: 540px;
    }
  }

  &__btn {
    position: absolute;
    z-index: 100;
    top: 5%;
    right: -50px;
    z-index: 0;
    animation: arrow 1s ease-in-out infinite;
    button {
      position: absolute;
      background: 0;
    }

    @media(max-width: 1380px) {
      display: none;
    }
  }

  &__modal {
    visibility: hidden;
    top: 100%;
    transition: all 0.7s ease-in-out;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition: all 0.8s ease;
    pointer-events: none;
  }

  &__modal-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(66, 224, 51, 0.5);
    transition: all 0.8s ease;
    opacity: 0;
    visibility: visible;
  }

  &__before {
    &:last-child {
      background: none;
    }
  }
}

.modal-active {
  pointer-events: auto;

  .cards__modal-bg {
    opacity: 1;
    visibility: visible;
  }

  .cards__modal {
    top: 0;
    visibility: visible;
  }
}

@keyframes arrow {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}
